@import "../../assets/scss/variables";

// Display
  .is-block{
    display: block;
  }
  .is-none{
    display: none;
  }
  .is-flex{
    display: flex;
  }
  .flex-align-center{
    align-items: center;
  }
  .flex-justify-center{
    justify-content: center;
  }
  .flex-between{
    justify-content: space-between;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .flex-column{
    flex-direction: column;
  }
  .flex-row{
    flex-direction: row;
  }
// .Display

// Colors
  .color-blue{
    color: $blue;
  }
  .color-yellow{
    color: $yellow;
  }
  .color-green{
    color: $green;
  }
  .color-red{
    color: $red;
  }
  .color-dark{
    color: $dark;
  }
  .color-white{
    color: $white;
  }
  .color-gray{
    color: $gray;
  }
  .color-dark-gray{
    color: $dark_gray;
  }
// .Colors

// Font Size
  .f-10{
    font-size: 10px;
  }
  .f-12{
    font-size: 12px;
  }
  .f-14{
    font-size: 14px;
  }
  .f-16{
    font-size: 16px;
  }
  .f-18{
    font-size: 18px;
  }
  .f-20{
    font-size: 20px;
  }
// .Font Size

// Font Weight
  .f-weight-100{
    font-weight: 100;
  }
  .f-weight-300{
    font-weight: 300;
  }
  .f-weight-400{
    font-weight: 400;
  }
  .f-weight-500{
    font-weight: 500;
  }
  .f-weight-600{
    font-weight: 600;
  }
// .Font Weight

// Backgrounds
  .bg-color-blue{
    background-color: $blue;
  }
  .bg-color-yellow{
    background-color: $yellow;
  }
  .bg-color-red{
    background-color: $red;
  }
  .bg-color-green{
    background-color: $green;
  }
  .bg-color-dark{
    background-color: $dark;
  }
  .bg-color-white{
    background-color: $white;
  }
  .bg-color-gray{
    background-color: $gray;
  }
  .bg-gradient-blue{
    background-image: linear-gradient(to right, #4200FF, #1C8EF7);
  }
// .Backgrounds

// Positions
  .is-relative{
    position: relative;
  }
  .is-absolute{
    position: absolute;
  }
  .is-inherit{
    position: inherit;
  }

  .to-bottom{
    bottom: 0;
    top: auto;
  }
  .to-top{
    top: 0;
    bottom: auto;
  }
// .Positions

// Width
  .w-100{
    width: 100%;
  }
// .Width

// Margins
  .m-auto{
    margin: 0 auto;
  }
// .Margins

// Border Radius & Shadow
  .b-radius-2{
    border-radius: 2px;
  }
  .b-radius-4{
    border-radius: 4px;
  }
  .b-radius-6{
    border-radius: 6px;
  }
  .b-radius-8{
    border-radius: 8px;
  }
  .b-radius-10{
    border-radius: 10px;
  }

  .b-shadow{
    box-shadow: 0 0 4px #06132957;
  }
// .Border Radius & Shadow

.c-pointer{
  cursor: pointer;
}