@import "../../assets/scss/variables";

.tracks-head,
.track-item{
  padding: 12px 20px;
  margin: 0 20px 10px 20px ;
  width: calc(100% - 40px);
  &__play{
    width: 30px;
    margin-right: 15px;
  }
  &__title{
    width: 50%;
    padding-right: 10px;
  }
  &__album{
    width: 30%;
    a{
      transition: all .2s ease;
      &:hover{
        color: $blue;
      }
    }
  }
  &__like{
    height: 15px;
    width: 60px;
    background-size: 15px;
    text-align: center;
    &:hover{
      background-size: 17px;
    }
  }
  &__duration{
    width: 60px;
    text-align: right;
  }
}

.tracks-head{
  font-weight: 500;
  font-size: 14px;
  padding: 0 20px;
}

@media screen and (max-width: 748px) {
  .tracks-head{
    display: none;
  }
  .track-item{
    margin: 0 0 10px 0;
    width: 100%;
    background: #041533;
    color: $white;
    &__album,
    &__like,
    &__duration{
      display: none;
    }
    &__title{
      width: 100%;
      padding: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  table,
  tbody{
    width: 100%;
    display: block;
  }
  .track-item{
    width: 100%;
    &__title{
      width: 80%;
    }
  }
}