@import "../../assets/scss/variables";

.preview{
  width: 185px;
  margin: 0 20px 40px;
  &__photo{
    height: 185px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(to bottom, rgba(5, 16, 35, .7), transparent);
      z-index: 1;
      position: absolute;
    }
  }
  &__title{
    font-size: 15px;
    margin: 0;
    line-height: 1.4;
    color: $dark;
  }
  &__subtitle{
    font-size: 11px;
    color: $dark_gray;
  }
  &__like{
    top: 7px;
    right: 7px;
    background-size: 16px;
    z-index: 1;
    &:hover{
      background-size: 18px;
    }
  }

  &--big{
    width: 260px;
    .preview__photo{
      height: 258px;
      margin-bottom: 0;
      &:before{
        background-image: linear-gradient(to bottom, rgba(5, 16, 35, .7), rgba(5, 16, 35, .4));
      }
    }
    .preview__like{
      right: 15px;
      top: 15px;
      background-size: 22px;
      &:hover{
        background-size: 24px;
      }
    }
    .preview__info{
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 20px;
      z-index: 1;
    }
    .preview__title{
      font-size: 22px;
      font-weight: 500;
      color: $white;
    }
    .preview__subtitle{
      font-size: 12px;
      color: $white;
    }
  }

  &--small{
    width: 155px;
    margin: 0 10px 20px;
    .preview__photo{
      height: 100px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before{
        background-image: linear-gradient(to bottom, rgba(5, 16, 35, .7), rgba(5, 16, 35, .7));
      }
    }
    .preview__info{
      z-index: 2;
      position: relative;
    }
    .preview__title{
      color: $white;
      text-align: center;
      font-weight: 600;
      font-size: 12px;
    }
  }
}



@media screen and (max-width: 1200px) {
  .preview{
    width: calc(33% - 38px);
    &__photo{
      height: 0;
      padding-bottom: 100%;
    }
    &--big{
      .preview__title{
        font-size: 18px;
      }
    }
    &--small{
      width: calc(25% - 20px);
      .preview__photo{
        border-radius: 4px;
        padding-bottom: 50%;
      }
      .preview__info{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 748px) {
  .preview{
    width: calc(50% - 10px);
    margin: 0 0 40px;
    &:nth-child(odd){
      margin-right: 20px;
    }
    &__title{
      color: $white;
    }
    &__photo{
      border-radius: 4px;
      height: 0;
    }
    &--big{
      .preview__photo{
        height: 0;
      }
    }
    &--small{
      width: calc(50% - 10px);
    }
  }
}

@media screen and (max-width: 480px) {
  .preview{
    margin: 0 0 20px;
    width: 100%;
    &:nth-child(odd){
      margin-right: 0;
    }
    a{
      display: flex;
      align-items: center;
    }
    &__photo{
      width: calc(50% - 20px);
      min-width: calc(50% - 20px);
      padding-bottom: 40%;
      margin: 0 20px 0 0;
    }
    &__title{
      white-space: initial;
    }
    &__subtitle{
      margin-top: 5px;
      font-size: 14px;
      display: block;
    }
    &--big{
      .preview__photo{
        overflow: visible;
      }
      .preview__info{
        left: calc(100% + 20px);
        width: calc(100% + 50px);
        padding: 0;
        top: 0;
        bottom: auto;
      }
      .preview__title{
        font-size: 16px;
      }
      .preview__subtitle{
        margin-top: 5px;
        font-size: 14px;
        display: block;
      }
      .preview__like{
        background-size: 16px;
        right: 10px;
        top: 10px;
      }
    }
    &--small{
      width: auto;
      margin: 0 15px 20px 0;
      padding-right: 15px;
      position: relative;
      &:before{
        content: '';
        height: 2px;
        width: 2px;
        background: $blue;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 12px;
      }
      &:nth-child(odd){
        margin-right: 20px;
      }
      .preview__photo{
        width: 100%;
        padding-bottom: 0;
        overflow: visible;
        background: none !important;
        text-align: left;
        height: auto;
        &::before{
          display: none;
        }
      }
      .preview__info{
        position: relative;
        margin: 0;
        align-items: initial;
        width: 100%;
      }
      .preview__title{
        font-size: 16px;
      }
    }
  }
}