@import "../../assets/scss/variables";

.main-header{
  height: 40px;
  margin: 60px 0 40px;
  padding: 0 20px;
  z-index: 1;

  &__title{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding-left: 20px;
  }
  
  // Notifications
    &__notifications{
      background: url('../../assets/img/alert_gray.svg') no-repeat center / 20px;
      height: 40px;
      width: 40px;
      margin-right: 10px;
      cursor: pointer;
    }

    &__search{
      background: url('../../assets/img/search_gray.svg') no-repeat center / 20px;
      height: 40px;
      width: 40px;
      margin-right: 20px;
      cursor: pointer;
    }

  // Profile
    &__profile-name{
      font-size: 14px;
      font-weight: 500;
      margin-right: 12px;
    }
    &__profile-photo{
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
    &__profile-menu{
      cursor: pointer;
      background: url('../../assets/img/more.svg') no-repeat center / 4px;
      height: 40px;
      width: 40px;
      &:hover{
        .main-header__menu{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &__menu{
      text-align: right;
      width: 200px;
      right: 10px;
      top: 50px;
      border: 1px solid $gray;
      padding: 10px 0;
      box-shadow: 0 0 40px $gray;
      opacity: 0;
      visibility: hidden;
      transition: all .2s ease-in-out;
    }
    &__menu-item{
      color: #A8B6D1;
      padding: 8px 20px;
      &:hover{
        color: $dark;
      }
    }
  // .Profile
}


@media screen and (max-width: 748px) {
  .main-header{
    margin: 40px 0;
    height: auto;
    padding: 0 0 0 20px;
    .wrapper{
      flex-direction: column-reverse;
    }
    &__options{
      width: 100%;
      justify-content: end;
      margin-bottom: 30px;
    }
    &__title{
      width: 100%;
      color: $white;
      padding: 0;
    }
    &__profile-name{
      display: none;
    }
    &__notifications{
      background-image: url('../../assets/img/alert_white.svg');
    }
    &__search{
      background-image: url('../../assets/img/search_white.svg');
    }
    &__menu{
      background: $dark2;
      box-shadow: none;
      border-color: $dark;
    }
    &__menu-item{
      &:hover{
        color: $white;
      }
    }
  }
}