@import "../../assets/scss/variables";

.main-menu{
  height: 100vh;
  width: 256px;
  height: calc(100vh - 130px);
  border-radius: 0 0 0 50px;
  z-index: 1;
  background: url('../../assets/img/menu/bg.svg') no-repeat center / cover;

  &__logo{
    background: url('../../assets/img/logos/logo.svg') no-repeat center;
    width: 100%;
    height: 35px;
    top: 60px;
  }

  &__title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 0 60px 20px;
  }
  &__items{
    padding-top: 35px;
  }
  &__item{
    color: $white;
    display: block;
    font-size: 16px;
    padding: 10px 0 10px 95px;
    position: relative;
    &--dashboard{
      background: url('../../assets/img/menu/dashboard.svg') no-repeat 60px center / 18px;
    }
    &--explore{
      background: url('../../assets/img/menu/explore.svg') no-repeat 58px center / 20px;
    }
    &--playlists{
      background: url('../../assets/img/menu/playlists.svg') no-repeat 58px center / 20px;
    }
    &--my-playlists{
      background: url('../../assets/img/menu/playlists_2.svg') no-repeat 60px center / 22px;
    }
    &--my-albums{
      background: url('../../assets/img/menu/albums.svg') no-repeat 60px center / 18px;
    }
    &--my-tracks{
      background: url('../../assets/img/menu/tracks.svg') no-repeat 60px center / 17px;
    }
    
    &--last{
      margin-bottom: 80px;
    }

    &:before{
      content: '';
      height: 5px;
      width: 5px;
      background: $green;
      box-shadow: 0 0 5px $green;
      position: absolute;
      left: 40px;
      top: 18px;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
    }

    &.active{
      &:before{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-menu{
    width: 100px;
    height: 100vh;
    border-radius: 0;
    align-items: center;
    &__logo{
      width: 36px;
      height: 36px;
      background-position: 0 center;
    }
    &__title{
      display: none;
    }
    &__item{
      font-size: 0;
      height: 50px;
      width: 100px;
      padding-left: 30px;
      background-position: 40px center !important;
      &:before{
        left: 18px;
        top: 23px;
      }
    }
  }
}

@media screen and (max-width: 748px) {
  .main-menu{
    width: 60px;
    border-right: 1px solid $dark2;
    &__logo{
      top: 40px;
    }
    &__items{
      padding: 0;
    }
    &__item{
      &:before{
        left: 67px;
        top: 26px;
        height: 3px;
        width: 3px;
      }
    }
  }
}