@import "../../assets/scss/variables";

.main-player{
  height: 180px;
  padding: 75px 60px 20px 60px;
  background: url('../../assets/img/player/bg.svg') no-repeat center / cover;
  
  // Current Song
    &__current-song{
      width: 300px;
    }
    &__photo{
      height: 70px;
      width: 70px;
      margin-right: 15px;
    }
    &__song{
      margin-bottom: 5px;
    }
  // .Current Song
  
  // Controls
    &__controls{
      width: 450px;
      // margin-left: 280px;
    }

    // Progress Bar
      &__progress-bar{
        margin: 10px 0 15px;
      }
      &__range-time{
        margin: 0 20px;
      }
    // .Progress Bar
    
    // Buttons
      &__buttons{
        > div{
          height: 40px;
          width: 56px;
          cursor: pointer;
        }
      }
      &__shuffle{
        background: url('../../assets/img/player/shuffle.svg') no-repeat center;
        &:before{
          content: '';
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background: $green;
          position: absolute;
          left: 38px;
          top: 10px;
          box-shadow: 0 0 5px $green;
          opacity: 0;
          visibility: visible;
          transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
        }
        &--is-active{
          &::before{
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &__previous{
        background: url('../../assets/img/player/previous.svg') no-repeat center;
      }
      &__play{
        background: url('../../assets/img/player/play.svg') no-repeat center;
        &--pause{
          background: url('../../assets/img/player/pause.svg') no-repeat center;
        }
      }
      &__next{
        background: url('../../assets/img/player/next.svg') no-repeat center;
      }
      &__repeat{
        background: url('../../assets/img/player/repeat.svg') no-repeat center / 20px;
        &:before{
          content: '';
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background: $green;
          position: absolute;
          left: 33px;
          top: 12px;
          box-shadow: 0 0 5px $green;
          opacity: 0;
          visibility: visible;
          transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
        }
        &--is-active{
          &::before{
            opacity: 1;
            visibility: visible;
          }
        }
      }
    // .Buttons
  // .Controls

  &__volume{
    width: 300px;
    padding-left: 130px;
  }
  &__volume-button{
    background: url('../../assets/img/player/volume_mid.svg') no-repeat center / 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    margin-right: 10px;
    &--low{
      background: url('../../assets/img/player/volume_low.svg') no-repeat center / 20px;
    }
    &--hight{
      background: url('../../assets/img/player/volume_hight.svg') no-repeat center / 20px;
    }
    &--mute{
      background: url('../../assets/img/player/volume_mute.svg') no-repeat center / 20px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .main-player{
    padding-left: 140px;
    &__current-song{
      padding-right: 40px;
    }
    &__volume{
      padding-left: 40px;
    }
  }
}

@media screen and (max-width: 748px) {
  .main-player{
    padding: 60px 20px 20px 20px;
    flex-direction: column;
    height: auto;
    z-index: 1;
    background-image: linear-gradient(to top, $dark 40%, #05102300);
    &__current-song{
      padding: 0;
      width: 100%;
    }
    &__photo{
      display: none;
    }
    &__song-name-artist{
      display: none
    }
    &__controls{
      width: 100%;
    }
    &__volume{
      display: none;
    }
  }
}