@import "./src/assets/scss/helpers";

/*
  Likes:
    - Artistas
    - Albumes
    - Playlists
    - Tracks
  My Music
    - Artistas
    - Playlists
    - Tracks
  Header
    - Cambiar el título de la página
    - Buscar
    - Menú de usuario
  Responsive
    - Header
    - Menu
    - Player
    - Container
*/

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
}

.wrapper{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.napster-container{
  height: calc(100vh - 130px);
  border-radius: 0 0 50px 0;
  width: calc(100% - 256px);
  z-index: 1;
  overflow: scroll;
}

.napster-render{
  padding: 0 20px;
}

.napster-page{
  z-index: 1;
  &__block-title{
    font-size: 18px;
    padding-left: 20px;
    margin: 0 0 20px 0;
  }
  &__top-albums,
  &__new-releases,
  &__genres{
    margin-bottom: 40px;
  }
  &__top-tracks{
    margin-bottom: 80px;
  }

  &__small-container{
    padding: 0 10px;
  }
}

// Detail
  .napster-detail{
    margin-bottom: 60px;
    &__top{
      padding: 0 20px;
    }
    &__photo{
      min-width: 100px;
      height: 100px;
      margin-right: 20px;
    }
    &__title{
      margin: 0 0 4px 0;
    }
    &__big-title{
      margin: 0;
      font-size: 70px;
    }
    &__subtitle{
      margin-bottom: 10px;
      opacity: 0.5;
    }
    &__play-button{
      padding: 10px 20px;
      margin-right: 20px;
      cursor: pointer;
      .play{
        background-size: 20px;
        margin-right: 5px;
      }
    }
    &__filter{
      margin-right: 20px;
      input{
        background: transparent;
        border: 0;
        padding: 16px 20px;
        width: 250px;
      }
    }
    &__like{
      padding: 10px 20px;
      margin-left: auto;
      &:hover{
        .like{
          background-size: 25px;
        }
      }
    }
  } 
// .Detail

.like{
  background: url('./assets/img/like_white.svg') no-repeat center;
  height: 30px;
  width: 30px;
  display: block;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &--dark{
    background: url('./assets/img/like_dark.svg') no-repeat center;
  }
  &--liked{
    background: url('./assets/img/liked.svg') no-repeat center;
  }
}

.play{
  background: url('./assets/img/player/play_color.svg') no-repeat center;
  height: 30px;
  width: 30px;
  background-size: 15px;
  display: block;
  cursor: pointer;
  &--pause{
    background: url('./assets/img/player/pause_color.svg') no-repeat center / 16px;
  }
}

.ellipsis{
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider{
  width: calc(100% - 40px);
  height: 1px;
  background: $gray;
  margin: 50px auto;
}

// Slider
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: $white;
    outline: none;
    border-radius: 2px;
    width: 100%;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 8px;
    background: $green;
    border: 0;
    box-shadow: 0 0 5px $green;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 8px;
    height: 8px;
    background: $green;
    border: 0;
    box-shadow: 0 0 5px $green;
    border-radius: 50%;
    cursor: pointer;
  }
// .Slider


@media screen and (max-width: 1200px) {
  .napster-container{
    width: calc(100% - 100px);
    border-radius: 0;
    height: calc(100vh - 118px);
  }
}

@media screen and (max-width: 748px) {
  body{
    background: $dark;
  }
  .napster-container{
    width: 100%;
    height: 100vh;
    background: $dark;
  }
  .napster-render{
    padding-bottom: 100px;
  }
  .napster-page{
    &__block-title{
      padding: 10px;
      width: 100%;
      font-size: 16px;
      color: $white;
      background-image: linear-gradient(to right, #4200FF, #1C8EF7);
      padding: 10px;
    }
    &__small-container{
      padding: 0;
    }
  }

  .napster-detail{
    &__top{
      padding: 0;
      color: $white;
      display: block;
    }
    &__photo{
      margin: 0 0 20px;
      height: 0;
      padding-bottom: 60%;
    }
    &__big-title{
      font-size: 50px;
    }
    &__play-button{
      background-color: $dark2;
      padding-right: 25px;
      margin: 0 0 20px;
      width: calc(100% - 90px);
    }
    &__controls{
      margin-top: 20px;
      flex-direction: column;
      position: relative;
    }
    &__filter{
      margin: 0;
      background-color: $dark2;
      input{
        color: $white;
      }
    }
    &__like{
      position: absolute;
      right: 0;
      background-color: $dark2;
      .like{
        background-image: url('./assets/img/like_white.svg');
      }
    }
  }

  .divider{
    width: 100%;
    background: $dark2;
  }
}

@media screen and (max-width: 480px) {
  .napster-detail{
    &__photo{
      padding-bottom: 100%;
    }
    &__title{
      font-size: 16px;
    }
    &__big-title{
      font-size: 40px;
    }
  } 
}